.image-cropper {
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 5px;
}

img {
    display: inline;
    margin: 0 auto;
}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}